# Development extras on top of requirements.txt
-r requirements.txt

# Linting & Formatting
ruff==0.5.7
mypy==1.11.1
pre-commit==3.8.0

# Testing extras
pytest-cov==5.0.0
pytest-mock==3.14.0

# Notebooks
jupyterlab==4.2.4
ipywidgets==8.1.3

# Documentation
mkdocs-material==9.5.30
